<v:be.container pageTitle="Vidi" enableJumpToUrl="false" enableClickMenu="false" loadPrototype="false"
                 loadScriptaculous="false" loadExtJs="false" loadExtJsTheme="true"
                 includeCssFiles="{
		0:'{f:uri.resource(path:\'StyleSheets/bootstrap.css\', extensionName: \'vidi\')}',
		1:'{f:uri.resource(path:\'StyleSheets/bootstrap-responsive.css\', extensionName: \'vidi\')}',
		2:'{f:uri.resource(path:\'StyleSheets/vidi.css\', extensionName: \'vidi\')}'
	}"
                 includeJsFiles="{
		0:'{f:uri.resource(path:\'JavaScript/JQuery/jquery-1.9.1.min.js\', extensionName: \'vidi\')}',
		1:'{f:uri.resource(path:\'JavaScript/Bootstrap/bootstrap.min.js\', extensionName: \'vidi\')}'
		}">


	<style type="text/css">
		.navbar-fixed-top {
			z-index: 100000;
		}
	</style>
	<f:render section="main"/>

</v:be.container>
{namespace v=TYPO3\CMS\Vidi\ViewHelpers}

